
{% style %}
/* marquee div container */
.marquee {
    font-size: 2vw;
    color: #fff;
    height: 3.5vw;
    overflow: hidden;
    background-color: #000;
    position: relative;
}
/* nested div inside the container */
.marquee div {
    display: block;
    width: 200%;
    position: absolute; 
    overflow: hidden;
    animation: marquee 12s linear infinite;
}
/* span with text */
.marquee span {
    float: left;
    width: 50%;
}
/* keyframe */
@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
{% endstyle %}



<div class="marquee">
  <div>

    {% if section.settings.title1 != blank %}
    <span>{{ section.settings.title1 }} </span>
      {% endif %}
    <!-- you need the second one - otherwise there is a lot of blank space and it will look odd -->
        {% if section.settings.title2 != blank %}
    <span>{{ section.settings.title2 }} </span>
               {% endif %}
  </div>
</div>




{% schema %}
  {
    "name": "marquee",
    "settings": [
      {
        "type": "text",
        "id": "title1",
        "label": "Title 1"
        
      },
      {
        "type": "text",
        "id": "title2",
        "label": "Title 2"
        
      }
      
    ],
    "presets": [
      {
        "name": "marquee"
      }
    ]
  }
{% endschema %}