
{% style %}
/* marquee div container */
.marquee {
    font-size: 2vw;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    height: 2.5vw;
    overflow: hidden;
    background-color: #000;
    position: relative;
}
/* nested div inside the container */
.marquee div {
    display: block;
    width: 200%;
    position: absolute; 
    overflow: hidden;
    animation: marquee 12s linear infinite;
}
/* span with text */
.marquee span {
    float: left;
    width: 50%;
}
/* keyframe */
@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
{% endstyle %}}



<div class="marquee">
  <div>
    <span>++++ this is a running text aka marquee using html &amp; css + text length is limited to the width</span>
    <!-- you need the second one - otherwise there is a lot of blank space and it will look odd -->
    <span>++++ this is a running text aka marquee using html &amp; css + text length is limited to the width</span>
  </div>
</div>




{% schema %}
  {
    "name": "marquee",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "marquee"
      }
    ]
  }
{% endschema %}